{% extends "base.html" %}

{% block content %}
    <h2>List of Books</h2>

    <div class="btn-toolbar">
        <a href="{% url 'books.new' %}" class="btn">Add new book</a>
    </div>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Author</th>
                <th>Title</th>
                <th>Owner</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for book in books %}
            <tr>
                <td>{{ book.author }}
                <td><a href="{% url 'books.show' book.id %}">{{ book.title }}</a></td>
                <td>{{ book.user.username }}</td>
                <td>
                    {% ifnotequal book.user user %}
                        <a href="{% url 'books.borrow' book.id %}" class="btn btn-small">Borrow</a>
                    {% endifnotequal %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
