{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <h2>{% trans 'List of Books' %}</h2>

    {% get_current_language as LANGUAGE_CODE %}
    <!-- Current language: {{ LANGUAGE_CODE }} -->

    <div class="btn-toolbar">
        <a href="{% url 'books.new' %}" class="btn btn-default">Add new book</a>
    </div>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>{% trans 'Author' %}</th>
                <th>{% trans 'Title' %}</th>
                <th>{% trans 'Owner' %}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for book in books %}
            <tr>
                <td>{{ book.author }}
                <td><a href="{% url 'books.show' book.id %}">{{ book.title }}</a></td>
                <td><a href="{% url 'users.show' user.id %}">{{ book.user.username }}</a></td>
                <td>
                    {% ifnotequal book.user user %}
                        <a href="{% url 'loans.new' %}?book_id={{ book.id }}" class="btn btn-sm btn-primary">{% trans "Borrow" %}</a>
                    {% endifnotequal %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
