{% extends "base.html" %}

{% block content %}
    <h2>Your loan requests</h2>

    <table class="table table-striped">
        <tr>
            <th>Book</th>
            <th>Owner</th>
            <th>Status</th>
        </tr>
        {% for loan in loans %}
        <tr>
            <td>{{ loan.book.title }} <em>by</em> {{ loan.book.author }}</td>
            <td>{{ loan.book.user.username }}</td>
            <td>{{ loan.status_string }}</td>
        </tr>
        {% endfor %}
    </table>

    <h3></h3>

    <h3></h3>
{% endblock %}