{% block "navbar" %}
    <div class="navbar navbar-fixed-top" >
        <div class="navbar-inner" style="padding-left: 10px">
            <a class="brand" href="{% url 'index' %}">OookBook</a>
            <ul class="nav">
                <li><a href="{% url 'books.index' %}">Books</a></li>
                <li><a href="{% url 'users.index' %}">People</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
{% endblock %}