{% load i18n %}

{% block "navbar" %}
    <header class="navbar navbar-fixed-top navbar-inverse" role="navigation">
        <div style="padding-left: 10px">
            <a class="navbar-brand" href="{% url 'index' %}">OookBook</a>
            <ul class="nav navbar-nav">
                <li><a href="{% url 'books.index' %}">{% trans 'Books' %}</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'users.index' %}">{% trans 'People' %}</a></li>
                    <li><a href="{% url 'logout' %}">{% trans 'Logout' %}</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">{% trans 'Login' %}</a></li>
                {% endif %}
            </ul>
        </div>
    </header>
{% endblock %}