<!DOCTYPE html>
<html>
<head>
    {% load staticfiles %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Oookbook{% endblock %}</title>
    <script src="{% static 'js/jquery-1.10.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/application.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/cerulean/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/application.css' %}" />
</head>
<body>
    {% include "_navbar.html" %}

    <div class="container" id="content">      
        <div class="row">
            <div>
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
</body>
</html>