{% extends "base.html" %}
{% load i18n %}

{% block content %}

<div class="row">
    <div class="span4 offset4 text-center">
        <h3>Please, log in to continue.</h3>

        {% if form.errors %}
            <p class='alert'>Your username and password didn't match. Please try again.</p>
        {% endif %}

        <form class="form-horizontal" method="post" action="{% url 'login' %}">

          {% csrf_token %}
          <input type="hidden" name="next" value="{{ next }}" />

          <table class="table-form" style="margin: auto;">
              <tr>
                <td>
                    <label>{{ form.username.label }}</label>
                </td>
                <td>
                     {{ form.username }}
                </td>
              </tr>
              <tr>
                <td>
                    <label>{{ form.password.label }}</label>
                </td>
                
                <td class="controls">
                  {{ form.password }}
                </td>
              </tr>
            </table>

            <div class='btn-toolbar'>
                <button type="submit" class="btn btn-primary btn-large">Sign in</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}