{% extends "base.html" %}
{% load i18n %}

{% block content %}

<div class="row">
    <div class="span4 offset4 text-center">
		<h3>{% trans "Please, register to Oookbook." %}</h3>

        {% if form.errors %}
            <p class='alert'>{% trans "Your username and password didn\'t match. Please try again." %}</p>
        {% endif %}

    	<form method="post">
			{% csrf_token %}
			{{ form.as_table }}

			<div class="btn-toolbar">
				<button class="btn btn-primary btn-large" type="submit">{% trans "Register" %}</button>
			</div>
		</form>
    </div>
</div>
		
{% endblock %}